/*Fundo da tela das tags <p> em azul claro*/
p {
  background-color: lightblue;
}
/*Adicionando uma imagem de fundo de tela*/
body {
  background-image: url("https://www.w3schools.com/html/w3schools.jpg"); /*Carrega a imagem como fundo*/
  background-repeat: no-repeat; /*Define que a imagem carregada não será repetida*/
  /*background-repeat: repeat; /*Define que a imagem carregada será repetida em todo o espaço*/
  /*background-repeat: repeat-x; /*Define que a imagem carregada será repetida apenas na Vertical*/
  /*background-repeat: repeat-y; /*Define que a imagem carregada será repetida apenas na Horizontal*/
  background-attachment: fixed; /*Define que a imagem carregada será fixa na tela mesmo rolando o texto*/
  /*background-attachment: scroll; /*Define que a imagem carregada poderá não será fixa na tela se rolar o texto*/
  /*background-position: center left; /*Define a posição da imagem carregada no centro colada na esquerda*/
  /*background-position: center right; /*Define a posição da imagem carregada no centro colada na direita*/
  /*background-position: center top; /*Define a posição da imagem carregada no centro colada no topo*/
  /*background-position: center bottom; /*Define a posição da imagem carregada no centro colada na base*/
  /*background: url("https://www.w3schools.com/html/w3schools.jpg") no-repeat fixed center; */
}
